doctype html
html
  head
    title Book Reviews
    link(rel="stylesheet" href="/styles/style.css")
  body
    h1 Book Reviews

    //- Error block (if errors exist)
    if errors
      ul(style="color:red")
        each err in errors
          li #{err}

    a(href="/new") Add New Review

    if reviews.length
      ul
        each review in reviews
          li
            strong #{review.title} 
            |  by #{review.author} (#{review.genre})
            p #{review.review}
            a(href=`/edit/${review._id}`) Edit
            form(action=`/delete/${review._id}` method="POST" style="display:inline;")
              button(type="submit") Delete
            p This website was created to fulfill Web technology modules requirements and doesn't represent anything real
    else
      p No reviews yet!
