doctype html
html
  head
    title Add New Review
    link(rel="stylesheet" href="/styles/style.css")
  body
    h1 Add a New Book Review

    //- Error block for multiple validation errors
    if errors
      ul(style="color:red")
        each err in errors
          li #{err}

    form(action="/new" method="POST")
      label(for="title") Title:
      input(type="text" name="title" value=title || '')
      br

      label(for="author") Author:
      input(type="text" name="author" value=author || '')
      br

      label(for="genre") Genre:
      input(type="text" name="genre" value=genre || '')
      br

      label(for="review") Review:
      textarea(name="review") #{review || ''}
      br

      button(type="submit") Submit
